*{
    margin: 0%;
    padding: 0%;
}
.box{
    height: 500px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    width: 500px;
    height: 300px;
    background-color: aliceblue;
    padding: 10px;
    align-items: center;
}