.box{
    border-radius: 0px 0px 30px 30px ;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
    top: 50px;
    box-shadow: 2px 2px 2px 2px gray;
}
.box1{
    font-size: 50px;
}