/* p{
    text-shadow: 5px 5px 5px  rgb(7, 7, 90);

} */

.box{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    box-shadow: 5px 5px 0px 1px gray;
    position: relative;
    top: 250px;
    left: 250px;
}

p{
    text-align: center;
}

