body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

.box1{
    width: 250px;
    height: 150px;
    background-color: black;
    text-align: center;
    border-top: 2px solid aqua;
    padding: 100px;
}
 button{
    background-color: aqua;
    width: 170px;
 }